@import 'default.less';

@abstract-item-title-font-size: @sub-middle-font;
@abstract-item-author-font-size: @small-font;
@abstract-item-info-font-size: @small-font;
@abstract-item-info-max-height: 200px;

.abstract-item {
  text-align: left;
  padding: 15px 5px;
  .flex-left-left-row;

  .year {
    font-size: @abstract-item-title-font-size;
    width: 50px;
  }

  .title {
    a {
      font-size: @abstract-item-title-font-size;
      text-decoration: none;
    }

    a:link {
      color: @font-dark
    }

    a:visited {
      color: @font-dark
    }

    a:hover {
      color: @bright-yellow
    }

    a:active {
      color: @font-dark
    }
  }

  .author {
    font-weight: 600;
    color: @background-blue;
    font-size: @abstract-item-author-font-size;
    cursor: pointer;

    @media @min-pc-width {
      display: block;
      margin-top: 2px;
      margin-bottom: 10px;
    }
    @media @max-pad-width {
      margin-left: 10px;
    }
  }

  .authorName:hover {
    color: @bright-yellow;
  }

  .abstract {
    font-size: @abstract-item-info-font-size;
    line-height: calc(@abstract-item-author-font-size + 5px);
    color: @font-gray;
    margin-top: 10px;
    max-height: @abstract-item-info-max-height;
    .overflow-hidden-height(2);
  }
}
