@import 'default.less';

@abstract-item-title-font-size: @sub-middle-font;
@abstract-item-author-font-size: @small-font;
@abstract-item-info-font-size: @small-font;
@abstract-item-info-max-height: 200px;

.abstract-item {
  .card;
  .flex-left-left-row;

  .year {
    font-size: @abstract-item-title-font-size;
    width: 50px;
    .card-title;
  }

  .title {
    .card-title;

    a {
      font-size: @abstract-item-title-font-size;
      text-decoration: none;
    }

    a:link {
      color: @font-dark;
    }

    a:visited {
      color: @font-dark;
    }

    a:hover {
      color: @bright-yellow;
    }

    a:active {
      color: @font-dark;
    }
  }

  .author {
    font-weight: 600;
    color: @background-blue;
    font-size: @abstract-item-author-font-size;
    cursor: pointer;
    margin-top: 10px;
    @media @min-pc-width {
      display: block;
      margin-top: 2px;
      margin-bottom: 10px;
    }
    @media @max-pad-width {
      margin-left: 10px;
    }
  }

  .authorName:hover {
    color: @bright-yellow;
  }

  .abstract {
    .card-abstract__margin;
  }
}
