@import 'responsive.less';
// ----------default-----------
@background-blue: #6c63ff; // 背景蓝色
@background-blue-dark: #1d4357;
@background-blue-light: #f0efff;
@background-blue-normal: #b5d4e3;
@background-blue-normal-light: rgba(240, 239, 255, 0.51);

@bright-yellow: #edc22c; // 字体亮黄色
@background-gray: #f7f7f7; // 背景灰色
@background-gray-dark: #e9e9e9; // 背景深灰

@font-dark: #2c3e50;
@font-gray-light: #bebbbb;
@font-gray: #959393; // 字体灰色
@font-gray-middle: #716f6f;
@font-gray-dark: #666;
@border-gray: rgba(112, 112, 112, 0.22);

@middle-border-radius: 20px;

@largest-font: 2.2rem;
@large-font: 1.8rem;
@sub-large-font: 1.4rem;
@middle-font: 1.2rem;
@sub-middle-font: 1rem;
@small-font: 0.9rem;
@sub-small-font: 0.7rem;

@subtitle-height: 31px;
@subtitle-divider-height: 1.5px;
@homepage-header-height: 100vh;

@searchPage-header-height__mobile: 60px;
@searchPage-header-height__pc: 65px;

@searchPage-logo-height__mobile: 20px;
@searchPage-logo-height__pc: 50px;

@search-input-width__mobile: 40vw;
@search-input-width__pc: 40vw;

@search-input-height__mobile: @searchPage-logo-height__mobile+15px;
@search-input-height__pc: @searchPage-logo-height__pc;

// ----------flex垂直水平居中-----------
.flex-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-center-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

// ----------flex水平靠左-----------
// 垂直居中
.flex-left-center-column {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.flex-left-center-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
// 垂直靠左
.flex-left-left-column {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.flex-left-left-row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}

// ----------flex垂直水平靠左-----------
.flex-space-between {
  display: flex;
  justify-content: space-between;
}

// ----------绝对居中------------
.absolute-center {
  position: absolute;
  top: 50vh;
  left: 50vw;
}

// ----------超出部分用...省略, 传递行数------------
.overflow-hidden-height(@line) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: @line;
  overflow: hidden;
}

.overflow-hidden-width(@width:'') {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: @width;
}

// -----------灰色阴影-------------
.gray-shadow {
  -webkit-box-shadow: 0 0 10px @background-gray-dark;
  -moz-box-shadow: 0 0 10px @background-gray-dark;
  box-shadow: 0 0 10px @background-gray-dark;
}
.background-shadow {
  box-shadow: -0.25rem -0.25rem 0.5rem rgba(255, 255, 255, 0.07),
    0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.12),
    -0.75rem -0.75rem 1.75rem rgba(255, 255, 255, 0.07),
    0.75rem 0.75rem 1.75rem rgba(0, 0, 0, 0.12),
    inset 8rem 8rem 8rem rgba(0, 0, 0, 0.05),
    inset -8rem -8rem 8rem rgba(255, 255, 255, 0.05);
}

// -----------小标题-------------
.subtitle {
  height: @subtitle-height;
  font-size: @largest-font;
  color: @font-dark;
  text-align: left;
  margin: 50px 0;
}
.subtitle-divider {
  //background: @background-blue;
  //height: @subtitle-divider-height;
  //margin: 10px 0;
}
.gray-background {
  background: @background-gray;
  padding: 20px 10px;
}

// -----------遮罩层------------
.mask {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(9, 10, 11, 0.56);
  z-index: 10;
}

// -----------提示框------------
.mask-box {
  text-align: left;
  border-radius: 20px;
  backdrop-filter: blur(0.5rem);
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  .background-shadow;
}
.mask-box-header {
  .flex-space-between;
  align-items: center;
  color: floralwhite;
  font-weight: 500;
  font-size: @middle-font;
}

button {
  outline: none;
}

.mask-box-content {
  color: floralwhite;
}

// -----------页面------------
.page {
  margin-top: calc(@searchPage-header-height__pc + 10px); // 为了去除顶部的bar
  width: 100vw;
  height: calc(100vh - @searchPage-header-height__pc);
}

// -----------标签页------------
.tab {
  .title {
    color: @font-dark;
    font-size: @largest-font;
    margin: 3px 0;
  }
  margin-bottom: 50px;
}
