@import 'default.less';
@portrait-profile-width-pc: 40vw;
@portrait-profile-width-mobile: 95vw;
@portrait-profile-name-font-size: @largest-font;
@portrait-paper-info-font-size: @sub-middle-font;

.profile-module:first-child {
  padding-top: 20px;
}

.profile-module {
  padding-left: 10px;
  padding-right: 10px;

  @media @min-pad-width {
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
  }
  @media @max-pad-width {
    padding-bottom: 5px;
  }
}
.portrait-module {
  padding: 15px 10px;
  display: flex;
  flex-direction: row;
  .profile {
    width: 30%;
  }
  .detail {
    width: 70%;
    display: flex;
    flex-direction: column;
  }
  .module {
    padding: @card-padding;

    @media @min-pad-width {
      flex: 1;
      margin-right: 10px;
      .chart {
        width: 45vw;
        height: 500px;
      }
    }
    @media @max-pad-width {
      margin: 10px 0;
      .chart {
        width: 95vw;
        height: 250px;
      }
    }
    .content {
      padding: 0 10px;
      .flex-center-row;
    }
  }
  .module:last-child {
    @media @min-pad-width {
      margin-right: 0;
    }
  }
}

.portrait-profile {
  width: 100%;
  .name {
    //background-image: linear-gradient(
    //  135deg,
    //  @bright-yellow 10%,
    //  #3684ab 100%
    //);
    overflow-wrap: break-word;
    background: @background-blue;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 4px 4px 5px rgba(138, 136, 136, 0.6);
    font-family: brandon, tahoma, arial, 'Hiragino Sans GB', sans-serif;

    font-style: italic;
    font-weight: bold;

    font-size: @portrait-profile-name-font-size;
    margin: 5px 10px 30px;
  }
  .info {
    background-image: linear-gradient(
      135deg,
      @background-blue-light 10%,
      @background-blue 100%
    );
    border-radius: 20px;
    padding: 25px;
    line-height: 40px;
    .wrapper {
      .flex-left-left-row;
      .prop {
        width: 30%;
      }
      .number {
        width: 70%;
        text-align: right;
      }
    }

    .prop {
      font-size: @middle-font;
      color: @font-gray-dark;
    }
    .number {
      font-size: @large-font;
      color: whitesmoke;
      font-weight: lighter;
    }
  }
}

.portrait-paper {
  .card;
  //border: 1px solid @border-gray;
  .title {
    .card-title;

    a {
      text-decoration: none;
    }

    a:link {
      color: @font-gray-dark;
    }

    a:visited {
      color: @font-gray-dark;
    }

    a:hover {
      color: @bright-yellow;
    }

    a:active {
      color: @font-gray-dark;
    }
  }

  .author {
    font-size: @portrait-paper-info-font-size;
    color: @background-blue;
    margin-right: 5px;
    cursor: pointer;
  }

  .author:hover {
    color: @bright-yellow;
  }

  .info {
    color: @font-gray;
    font-size: @portrait-paper-info-font-size;
    .publicationName {
      cursor: pointer;
      &:hover {
        color: @bright-yellow;
      }
    }
  }

  .abstract-wrapper {
    margin: 20px 0;
    .flex-left-left-row;
    .abstract {
      .card-abstract;
    }
  }
  .hint {
    .card-hint;
  }

  .divider {
    width: 100%;
    height: 1.5px;
    margin-bottom: 8px;
    background: @background-blue-light;
  }

  .keyword-wrapper {
    .flex-left-left-row;
    word-wrap: break-word;
    line-height: calc(@portrait-paper-info-font-size + 20px);
    .keyword-inner-wrapper {
      .overflow-hidden-height(2);
    }
  }

}
