@import 'default.less';
@portrait-profile-width-pc: 40vw;
@portrait-profile-width-mobile: 95vw;
@portrait-chart-min-height: 350px;
@portrait-profile-name-font-size: @largest-font;
@portrait-paper-info-font-size: @sub-middle-font;

.portrait {
  width: 100%;
  position: fixed;
  display: flex;
  .profile {
    width: 30%;
  }
  .detail {
    width: 68%;
    display: flex;
    flex-direction: column;
    .tabs {
      .tab {
        height: calc(100vh - 200px);
        overflow: scroll;
        padding: 0 10px;
      }
    }
  }
  .detail-no_tabs {
    width: 68%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: calc(100vh - 100px);
    padding-bottom: 10px;
  }
  .module {
    .card;
    margin: 10px;
    .icon {
      color: @background-blue;
    }
    @media @min-pad-width {
      flex: 1;
    }
    @media @max-pad-width {
      margin: 10px 0;
    }
    .content {
      padding: 0 10px;
      .flex-center-row;
      min-height: @portrait-chart-min-height;
      width: 100%;
    }
  }
}

.portrait-profile {
  width: 100%;
  .card;
  .name {
    text-align: left;
    //overflow-wrap: break-word;
    margin: 10px 10px 40px;
    display: flex;
    flex-direction: column;
    .text {
      .overflow-hidden-height(2);
      font-weight: bold;
      font-size: @portrait-profile-name-font-size;
    }
    .icon {
      margin-top: 15px;
      font-weight: 500;
    }
  }
  .info {
    .wrapper {
      .flex-left-left-row;
      .prop {
        width: 30%;
      }
      .number {
        width: 70%;
        text-align: right;
      }
    }

    .prop {
      .card-title;
      color: @font-dark;
      .icon {
        color: @background-blue;
      }
    }
    .number {
      font-size: @large-font;
      font-weight: lighter;
    }
  }
}

.portrait-paper {
  .card;
  //border: 1px solid @border-gray;
  .title {
    .card-title;

    a {
      text-decoration: none;
    }

    a:link {
      color: @font-gray-dark;
    }

    a:visited {
      color: @font-gray-dark;
    }

    a:hover {
      color: @bright-yellow;
    }

    a:active {
      color: @font-gray-dark;
    }
  }

  .author {
    font-size: @portrait-paper-info-font-size;
    color: @background-blue;
    margin-right: 5px;
    cursor: pointer;
  }

  .author:hover {
    color: @bright-yellow;
  }

  .info {
    color: @font-gray;
    font-size: @portrait-paper-info-font-size;
    .publicationName {
      cursor: pointer;
      &:hover {
        color: @bright-yellow;
      }
    }
  }

  .abstract-wrapper {
    margin: 20px 0;
    .flex-left-left-row;
    .abstract {
      .card-abstract;
    }
  }
  .hint {
    .card-hint;
  }

  .divider {
    width: 100%;
    height: 1.5px;
    margin-bottom: 8px;
    background: @background-blue-light;
  }

  .keyword-wrapper {
    .flex-left-left-row;
    word-wrap: break-word;
    line-height: calc(@portrait-paper-info-font-size + 20px);
    .keyword-inner-wrapper {
      .overflow-hidden-height(2);
    }
  }
}

.profile-module:first-child {
  padding-top: 20px;
}

.profile-module {
  padding-left: 10px;
  padding-right: 10px;

  @media @min-pad-width {
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
  }
  @media @max-pad-width {
    padding-bottom: 5px;
  }
}
