@import 'default.less';

@ranking-title-font-size: @middle-font;
@ranking-sortKey-font-size: @small-font;
@ranking-name-font-size: @small-font;
@ranking-line-height: 25px;

// advanced-ranking page
.advanced-ranking-page{
  margin: 20px 20px;
  background: @background-gray;
}
.ranking-advanced{

}


// basic-ranking
.ranking-basic {
  text-align: left;

  .title {
    font-size: @ranking-title-font-size;
    color: @font-gray-dark;
    font-weight: 500;
    margin: 12px 0 12px 20px;

    .sortKey {
      .flex-center-row;
      float: right;
      font-size: @ranking-sortKey-font-size;
      color: @background-blue;
      font-weight: 600;
    }
  }

  .info {
    .flex-space-between;
    line-height: @ranking-line-height;

    .name-wrapper {
      .flex-left-left-row;
      font-size: @ranking-name-font-size;
      .icon {
        width: 40px;
        text-align: center;
        color: @background-blue
      }
      .name {
        color: @font-gray-middle;
        display: inline-block;
        word-wrap: break-word;
        width: 100%;

      }
    }
    .count {
      font-size: @ranking-name-font-size;
    }
  }
}
