@import 'default.less';

// basic
@ranking-title-font-size: @middle-font;
@ranking-sortKey-font-size: @small-font;
@ranking-name-font-size: @small-font;
@ranking-line-height: 25px;

// advanced
@ranking-advanced-header-font-size: @sub-middle-font;
@ranking-advanced-body-font-size: @small-font;

// advanced-ranking page
.advanced-ranking-page {
  margin: 20px 20px;
}
.ranking-advanced {
  .header {
    margin-bottom: 15px;
    padding: 10px 0;
    display: flex;
    text-align: center;
    background: @background-blue-normal;
    border-radius: 20px;
    color: @background-blue;
    font-size: @ranking-advanced-header-font-size;
    .prop {
      flex: 1;
      margin-right: 10px;
    }
    .prop:first-child {
      margin-left: 10px;
    }
  }
  .body {
    padding: 0 10px;
  }
}
.ranking-advanced-detail {
  padding: 5px 0;
  text-align: center;
  border-radius: 20px;
  border: 1px solid @border-gray;
  color: @font-dark;
  font-size: @ranking-advanced-body-font-size;
  width: 100%;
  .basic {
    display: flex;
    align-items: center;
    width: 100%;
    .value {
      flex: 1;
    }
  }
  .divider {
    background-color: @border-gray;
    height: 1.5px;
    margin: 10px 10px;
  }
  .detail {
    display: flex;
    .info{
      .title{

      }
    }
  }
}

// basic-ranking
.ranking-basic {
  text-align: left;

  .title {
    font-size: @ranking-title-font-size;
    color: @font-gray-dark;
    font-weight: 500;
    margin: 12px 0 12px 20px;

    .sortKey {
      .flex-center-row;
      float: right;
      font-size: @ranking-sortKey-font-size;
      color: @background-blue;
      font-weight: 600;
    }
  }

  .info {
    .flex-space-between;
    line-height: @ranking-line-height;

    .name-wrapper {
      .flex-left-left-row;
      font-size: @ranking-name-font-size;
      .icon {
        width: 40px;
        text-align: center;
        color: @background-blue;
      }
      .name {
        color: @font-gray-middle;
        display: inline-block;
        word-wrap: break-word;
        width: 100%;
      }
    }
    .count {
      font-size: @ranking-name-font-size;
    }
  }
}
