// ----------全局响应式布局方案-----------

@max-mobile-width: ~'(max-width: 568px)';
@min-mobile-width: ~'(min-width: 568px)';
@max-pad-width: ~'(max-width: 768px)';
@min-pad-width: ~'(min-width: 768px)';
@min-pc-width: ~'(min-width: 992px)';

// width
.mobile-width(@width) {
  @media @max-mobile-width {
    width: @width;
  }
}

.pad-width(@width) {
  @media @max-pad-width {
    width: @width;
  }
}

.pc-width__mobile(@width) {
  @media @min-mobile-width {
    width: @width;
  }
}

.pc-width__pad(@width) {
  @media @min-pad-width {
    width: @width;
  }
}

// height
.mobile-height(@height) {
  @media @max-mobile-width {
    height: @height;
  }
}

.pad-height(@height) {
  @media @max-pad-width {
    height: @height;
  }
}

.pc-height__mobile(@height) {
  @media @min-mobile-width {
    height: @height;
  }
}

.pc-height__pad(@height) {
  @media @min-pad-width {
    height: @height;
  }
}

.mobile-border-radius(@value) {
  @media @max-mobile-width {
    border-radius: @value;
  }
}
.pc-border-radius__mobile(@value) {
  @media @min-mobile-width {
    border-radius: @value;
  }
}

.pc-border-radius__pad(@value) {
  @media @min-pad-width {
    border-radius: @value;
  }
}

// 手机端隐藏
.mobile-hidden {
  @media @max-mobile-width {
    display: none;
  }
}

// pad端隐藏
.pad-hidden {
  @media @max-pad-width {
    display: none;
  }
}

// PC端隐藏
.pc-hidden_mobile {
  @media @min-mobile-width {
    display: none;
  }
}

.pc-hidden_pad {
  @media @min-pad-width {
    display: none;
  }
}

// PC端flex布局
.pc-flex__pad {
  @media @min-pad-width {
    display: flex;
  }
}

.pc-flex__mobile(@direction) {
  @media @min-mobile-width {
    display: flex;
    flex-direction: @direction;
  }
}

.pc-position__pad(@position) {
  @media @min-pad-width {
    position: @position;
  }
}
.pc-overflow__pad(@overflow) {
  @media @min-pad-width {
    overflow: @overflow;
  }
}

.pc-padding__pad(@padding) {
  @media @min-pad-width {
    padding: @padding;
  }
}
.pad-padding(@padding) {
  @media @max-pad-width {
    padding: @padding;
  }
}
.pc-padding__mobile(@padding) {
  @media @min-mobile-width {
    padding: @padding;
  }
}
.mobile-padding(@padding) {
  @media @max-mobile-width {
    padding: @padding;
  }
}
