@import 'default.less';

@search-input-border: 0;
@search-input-border-radius: @middle-border-radius;
@search-input-background: @background-gray;
@search-input-background-active: white;

@search-button-border-radius: 10px;
@search-button-font-color: white;
@search-button-font-size: 10px;

@search-item-title-font-size: @middle-font;
@search-item-author-font-size: @sub-middle-font;
@search-item-keyword-font-size: @small-font;
@search-item-reference-font-size: @small-font;

@search-advanced-input-font-size: @sub-middle-font;

// 搜索页Header
.searchPage-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.81);
  position: fixed;
  top: 0;
  z-index: 1000;
  text-align: left;
  width: 100vw;
  height: @searchPage-header-height__pc;
  box-shadow: 0 8px 25px rgba(22, 19, 55, 0.45);
  padding: 0 20px;
}

.searchPage-header__logo {
  .mobile-height(@searchPage-logo-height__mobile);
  .pc-height__mobile(@searchPage-logo-height__pc);
}

.searchPage-content__result {
  //width: 75%;
  padding: 10px;
  .pc-width__mobile(75%);
}

.searchPage-content__filter {
  padding: 0 20px 20px 20px;
  @media @max-mobile-width {
    display: none;
  }

  // PC
  width: 25%;

  .filter {
    width: 100%;
    .flex-left-left-column;

    .filter-wrapper {
      width: 100%;

      .hint {
        margin: 15px 0;
        color: @font-dark;
        font-size: @sub-middle-font;
        font-weight: 500;
      }

      .divider {
        background-color: @background-blue-light;
        height: 1.5px;
        margin: 10px 0;
      }

      .options {
        /deep/ .option {
          display: inline-grid;
          white-space: pre-line;
          word-wrap: break-word;
          margin-bottom: 2px;
          font-weight: 400;
          font-size: @card-abstract-font;
          color: @font-gray;
          line-height: @content-line-height;
        }
      }
    }
  }
}

// 搜索页内容
.searchPage-content__sub-hint {
  font-size: @middle-font;
  color: @font-gray-dark;
  margin-bottom: 5px;
  font-weight: 500;
}

.searchPage-content__hint-text {
  font-size: @sub-large-font;
  color: @background-blue;
  font-weight: 400;
}

.searchPage-content__result-text {
  font-size: @largest-font;
  color: @bright-yellow;
  font-weight: 500;
}

// 搜索页时间范围
.searchPage-time-range {
  input {
    border-radius: 8px;
    padding-left: 5px;
    outline: 0;
    width: 80px;
    color: @bright-yellow;
    font-size: @sub-middle-font;
    line-height: @middle-font;
  }

  .error {
    margin-left: 5px;
    margin-top: 3px;
    height: 17px;
    color: #a2a2a2;
    font-size: 0.8rem;
  }
}

// 搜索结果条目
.searchPage-item {
  .card;
  .mobile-width(calc(100vw - 60px));
  position: relative;
  .title {
    .card-title;
    .pc-width__mobile(calc(100% - 200px));

    a {
      text-decoration: none;
    }

    a:link {
      color: @font-dark;
    }

    a:visited {
      color: @font-dark;
    }

    a:hover {
      color: @font-dark;
      text-decoration: underline;
    }

    a:active {
      color: @font-dark;
    }
  }

  .author {
    font-size: @search-item-author-font-size;
    color: @background-blue;
    margin-right: 5px;
    cursor: pointer;

    .name:hover {
      color: @bright-yellow;
    }
  }

  .bookmark:before {
    position: absolute;
    top: 0;
    z-index: -1;
    right: 0;
    content: '';
    padding-right: 10px;
    border: 15px solid @background-blue-light;
    border-left-color: transparent;
    box-shadow: 0 5px 5px -5px #000;
    width: 180px;
  }

  .bookmark {
    position: absolute;
    top: 30px;
    right: 0;
    width: 150px;
    text-align: left;
    height: 30px;
    display: flex;
    align-items: center;
    .hint {
      font-size: @small-font;
      color: @font-gray;
      width: 90px;
    }
    .count {
      color: @background-blue;
      font-weight: 500;
    }
  }

  .info {
    .pc-width__mobile(calc(100% - 200px));
    line-height: 25px;
  }

  .abstract-wrapper {
    margin: 20px 0;
    .flex-left-left-row;
    .abstract {
      .card-abstract;
    }
  }

  .divider {
    width: 100%;
    height: 1.5px;
    margin-bottom: 10px;
    background: @background-blue-light;
  }

  .hint {
    .card-hint;
    .mobile-hidden;
  }

  .keyword-wrapper {
    .flex-left-left-row;
    word-wrap: break-word;
    line-height: calc(@search-item-keyword-font-size + 20px);
    .keyword-inner-wrapper {
      .overflow-hidden-height(2);
    }
  }

  .detail-hint {
    .hint;
    color: @background-blue;
    text-align: right;
    float: right;
  }

  .reference-wrapper {
    .flex-left-left-row;
    word-wrap: break-word;
    line-height: @content-line-height;
    .reference {
      a {
        font-size: @search-item-reference-font-size;
        color: @font-gray-dark;
      }
    }
  }

  .citation-wrapper {
    .flex-left-left-row;
    margin: 10px 0;
  }

  .citation {
    border: @background-blue 1px solid;
    background: @background-blue;
    color: whitesmoke;
    padding: 1px;
    font-size: @search-item-keyword-font-size;
    margin-right: 5px;

    .number {
      color: @bright-yellow;
      font-weight: bold;
      margin-left: 4px;
    }
  }
}

// 普通搜索输入框
.basic-search__input {
  outline: none;
  border: @search-input-border;
  background-color: @search-input-background-active;
  border-radius: @search-input-border-radius;
  padding: 0 15px;
  background-image: url(../assets/icon/icon-search.png);
  background-repeat: no-repeat; /*设置图片不重复*/
  background-position: 98% 50%;
  min-height: 40px;
  .mobile-height(@search-input-height__mobile);
  .pc-height__mobile(@search-input-height__pc);
  .mobile-width(@search-input-width__mobile);
  .pc-width__mobile(@search-input-width__pc);
  border: 2px @background-blue-light solid;
  font-size: @search-advanced-input-font-size;
  color: #333;
  @media @min-pad-width {
    max-width: calc(100vw - 700px);
    min-width: 450px;
  }

  &:focus {
    border: @search-input-border;
    background-color: @search-input-background;
    border: 2px @background-blue solid;
  }
}

// 高级搜索页
.advanced-search__mask-box-size {
  .mobile-width(300px);
  .pc-width__mobile(600px);
}

.advanced-search__mask-box-divider {
  width: 100%;
  height: 1.8px;
  margin: 10px 0;
  background: @background-blue;
}

.advanced-search__mask-content {
  padding: 20px 0;

  label {
    /*左对齐*/
    display: inline-block;
    float: left;
    text-align: left;
    font-size: @sub-middle-font;
  }

  input {
    outline: 0;
    border: 0;
    height: 30px;
    padding: 2px 4px;
    border-radius: 8px;
    background: @search-input-background-active;
    color: @font-dark;
    font-weight: 500;
    font-size: @search-advanced-input-font-size;
    &:focus {
      border: @search-input-border;
      background-color: @search-input-background;
      border: 2px @background-blue solid;
    }
  }

  textarea {
    outline: 0;
    resize: none;
    width: 100%;
    height: 230px;
    border-radius: 10px;
    color: @font-dark;
    font-weight: 500;
    font-size: @search-advanced-input-font-size;
    line-height: 30px;
    background-color: @search-input-background-active;
    border: 2px @background-blue-light solid;
    padding: 10px 20px;
    &:focus {
      background-color: @search-input-background;
      border: 2px @background-blue solid;
    }
  }

  .item {
    @media @min-mobile-width {
      .flex-space-between;
    }
    @media @max-mobile-width {
      .flex-left-left-column;
    }

    .input {
      text-align: left;
      @media @max-mobile-width {
        margin-top: 5px;
      }

      .error {
        margin-top: 3px;
        height: 17px;
        color: @background-blue;
        font-size: @search-advanced-input-font-size;
      }
    }
  }
}
