@import 'default.less';
// talent-base-basic
@talent-base-basic-height__pc: 120px;
@talent-base-basic-width__pc: 100px;
@talent-base-basic-height__mobile: 100px;
@talent-base-basic-width__mobile: 50px;

@talent-base-basic-count-size__pc: 50px;
@talent-base-basic-count-size__mobile: 30px;

@talent-base-basic-field-font-size: @sub-small-font;
// talent-base
@talent-base-size: 260px;
@talent-base-field-font-size: @middle-font;
@talent-base-author-font-size: @small-font;
@talent-base-count-font-size: @sub-middle-font;

.talent-base {
  height: @talent-base-size;
  padding: 5px;
  clip-path: polygon(
    0 0,
    calc(100% - 20px) 0%,
    100% 20px,
    100% calc(100% - 20px),
    calc(100% - 20px) 100%,
    0 100%
  );
  background: whitesmoke;
  &:hover {
    background: @background-blue-light;
  }
  .title {
    min-height: 150px;
    .flex-center-column;
    &:hover {
      cursor: pointer;
    }
    .field {
      text-align: center;
      background: @font-dark;
      font-size: @talent-base-field-font-size;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: brandon, tahoma, arial, 'Hiragino Sans GB', sans-serif;
      font-style: italic;
    }
    .count {
      margin-top: 10px;
      color: @font-gray-middle;
      font-size: @talent-base-count-font-size;
    }
  }

  .author {
    cursor: pointer;
    font-size: @talent-base-author-font-size;
    color: @font-gray-dark;

    padding: 5px 0;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;

    .authorName {
      text-align: center;
      box-sizing: border-box;
      flex: 0 0 30%;

      border: 1px solid @background-blue;
      border-radius: 20px;
      padding: 2px 3px;
      margin: 3px 3px;
      line-height: 22px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:hover {
        border: 0;
        background: @background-blue;
        color: white;
      }
    }
  }
}

.talent-base-basic {
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  .mobile-height(@talent-base-basic-height__mobile);
  .mobile-width(@talent-base-basic-width__mobile);
  .pc-height__mobile(@talent-base-basic-height__pc);
  //.pc-width__mobile(@talent-base-basic-width__pc);
  .flex-center-column;

  .count {
    background-color: @background-blue-dark;
    color: @background-blue-normal;
    .flex-center-column;
    .mobile-height(@talent-base-basic-count-size__mobile);
    .mobile-width(@talent-base-basic-count-size__mobile);
    .pc-height__mobile(@talent-base-basic-count-size__pc);
    .pc-width__mobile(@talent-base-basic-count-size__pc);
    .pc-border-radius__mobile(@talent-base-basic-count-size__pc);
    .mobile-border-radius(@talent-base-basic-count-size__mobile);
  }

  .field {
    margin-top: 20px;
    color: ghostwhite;
    font-size: @talent-base-basic-field-font-size;
    .overflow-hidden-width(@talent-base-basic-width__pc);
  }
}

.talent-base-basic:hover {
  background-color: @background-blue-normal-light;
}
