@import 'default.less';
// talent-base-basic
@talent-base-basic-field-font-size: @sub-middle-font;
// talent-base
@talent-base-size: 260px;
@talent-base-field-font-size: @middle-font;
@talent-base-author-font-size: @small-font;
@talent-base-count-font-size: @sub-middle-font;

// talent-detail
@talent-detail-height: 100px;
@talent-detail-affiliation-font-size: @sub-middle-font;
@talent-detail-author-font-size: @middle-font;

.talentPage-content {
  @media @min-mobile-width {
    .flex-left-left-row;
  }
  .talentPage-content__talents {
    .pc-width__mobile(58%);
    @media @min-mobile-width {
      margin-left: 2%;
    }
    .talents {
      display: flex;
      flex-flow: row wrap;
      align-content: space-between;
    }

    .talent {
      box-sizing: border-box;
      flex: 0 0 33%;
    }
  }
  .talentPage-content__news {
    .pc-width__mobile(36%);
    @media @min-mobile-width {
      margin: 0 2%;
    }
  }
}

.talentPage-subtitle {
  font-size: @sub-large-font;
  color: @font-gray;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.talent-drawer-title {
  .card-title;
}
.talent-base {
  .card;
  height: @talent-base-size;
  padding: 5px;
  margin-right: 15px;
  &:hover {
    background: whitesmoke;
  }
  .title {
    min-height: 150px;
    .flex-center-column;
    &:hover {
      cursor: pointer;
    }
    .field {
      .card-title;
      text-align: center;
    }
    .count {
      margin-top: 10px;
      color: @font-gray-middle;
      font-size: @talent-base-count-font-size;
    }
  }

  .author {
    cursor: pointer;
    font-size: @talent-base-author-font-size;
    color: @font-gray-dark;

    padding: 5px 0;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;

    .authorName {
      //text-align: center;
      //box-sizing: border-box;
      flex: 0 0 30%;

      //border: 1px solid @background-blue;
      //border-radius: 20px;
      //padding: 2px 3px;
      margin: 3px 3px;
      //line-height: 22px;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.talent-base-basic {
  cursor: pointer;
  padding: 10px 10px;
  .flex-space-between;
  align-items: center;
  border-bottom: 1px solid #dcdfe6;

  &:hover {
    background-color: @background-blue-normal-light;
  }

  .field {
    font-size: @talent-base-basic-field-font-size;
    color: @font-dark;
  }

  .count {
    color: @background-blue;
    .flex-center-column;
    font-size: @large-font;
    font-weight: lighter;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    float: right;
  }
}

.talent-detail {
  .card;
  &:hover {
    background: whitesmoke;
  }
  .name {
    .card-title;
    cursor: pointer;
  }
  .affiliation {
    font-size: @talent-detail-affiliation-font-size;
    font-weight: 500;
    margin-bottom: 5px;
    .card-abstract(@background-blue);
  }
  .papers {
    line-height: 21px;
    .title {
      .card-abstract;
    }
    a {
      text-decoration: none;
    }
    a:hover {
      color: @bright-yellow;
    }
    .citation {
      color: @font-gray-light;
    }
  }
}

.tag {
  color: @font-gray;
  border: 1px solid @border-gray;
  border-radius: 5px;
  padding: 3px 5px;
  width: 120px;
  margin-right: 10px;
  line-height: 30px;
}
